.link line {
  stroke: #000;
  stroke-width: 3px;
}
.arrow {
  fill: #000;
}
.arrow-in {
  fill: #f00;
}

.arrow-out {
  fill: #0f0;
}

.arrow-marked {
  fill: #ff0;
}

.node rect {
  pointer-events: all;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}
